.cover {
  height: 200px;
  overflow: hidden;
  position: absolute;
  color: #fff;
  font: menu;
}

.background {
  transform: translateY(-25%);
  width: 100%;
}

.title {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  padding: 0 1em;
  margin: 0 !important;
  bottom: 30px;
}

.mark {
  position: absolute;
  width: 100%;
  text-align: right;
  font-size: 12px;
  right: 1.5em;
  bottom: 10px;
  margin: 0 !important;
}

.mask {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.4));
}

.slider {
  height: 220px;
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 100%;
  transform: translateY(-25%);
}

.slider p {
  width: 100%;
  font-size: 21px;
  position: absolute;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 0 !important;
  bottom: 1em;
  color: #fff;
}
