.item {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 2px;
  margin: 10px 0;
  padding: .5em 1em;
  height: 75px;
  line-height: 1.7;
}

.title {
  font-size: 16px;
  margin: 0 !important;
}

.preview-image {
  float: right;
  height: 100%;
  margin-left: 10px;
}
