.slider {
  height: 220px;
  overflow: hidden;
  position: relative;
}

.preview-image {
  width: 100%;
  transform: translateY(-25%);
}

.title {
  width: 100%;
  font-size: 18px;
  position: absolute;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 0 !important;
  bottom: 1em;
  color: #fff;
}

.mask {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.4));
}
